In [1]:
import numpy as np
import re
import pandas as pd
# import xgboost
from sklearn import cross_validation
from sklearn.metrics import accuracy_score

D:\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
%matplotlib inline
import matplotlib as plt

In [5]:
path = '/home/andrew/Dota_set_2/DotaParser/DOTA_parsed.txt'
t22_path_w = 'C:/Users/user/Downloads/DotaParser/DOTA_parsed.txt'
t22_path_h = 'D:/Projects/DotaParser/DOTA_parsed.txt'

In [6]:
with open(t22_path_h, 'r') as f:
    data = f.readlines()
    print(len(data))

567766

In [7]:
data[:5]

['2771431315, 1, 96, 3, 18, 48, 76, 95, 73, 110, 1, 30, 1, 1141, 188, 0,\n',
 '2771421222, 3, 48, 28, 45, 37, 99, 62, 26, 69, 92, 88, 0, 1044, 161, 7,\n',
 '2771421175, 22, 11, 102, 56, 93, 27, 28, 5, 16, 17, 104, 1, 1303, 123, 7,\n',
 '2771420362, 3, 84, 8, 66, 95, 108, 28, 54, 76, 41, 87, 1, 1453, 227, 7,\n',
 '2771420136, 22, 1, 99, 104, 20, 44, 6, 59, 50, 84, 19, 0, 1097, 121, 7,\n']

In [8]:
#for x, each in enumerate(data):
#    data[x] = data[x].split(', ')
# Че за мутная тема?
data_split = [row.split(',\n')[:-1][0].split(', ') for row in data] 
data_split[:1]

[['2771431315',
  '1',
  '96',
  '3',
  '18',
  '48',
  '76',
  '95',
  '73',
  '110',
  '1',
  '30',
  '1',
  '1141',
  '188',
  '0']]

In [9]:
set(len(x) for x in data_split)

{16, 17}

In [10]:
sum([1 for x in data_split if len(x)==16])

5225

In [11]:
sum([1 for x in data_split if len(x)==17])

562541

In [12]:
# cut 16

In [13]:
data_short = [x[:-1] if len(x)==17 else x for x in data_split ]
data_short[0]

['2771431315',
 '1',
 '96',
 '3',
 '18',
 '48',
 '76',
 '95',
 '73',
 '110',
 '1',
 '30',
 '1',
 '1141',
 '188',
 '0']

In [14]:
set(len(x) for x in data_short)

{16}

In [15]:
dota_df = pd.DataFrame(data_short, columns=['match_id', 'game_mode', '1', '2', '3', '4', '5', '6', '7', '8', '9',
                 '10', 'radiant_win', 'duration', 'cluster', 'lobby_type'])
#dota_df.columns=['match_id', 'game_mode', '1', '2', '3', '4', '5', '6', '7', '8', '9',
#                 '10', 'radiant_win', 'duration', 'cluster', 'lobby_type']
dota_df.head()

,match_id,game_mode,1,2,3,4,5,6,7,8,9,10,radiant_win,duration,cluster,lobby_type
0,2771431315,1,96,3,18,48,76,95,73,110,1,30,1,1141,188,0
1,2771421222,3,48,28,45,37,99,62,26,69,92,88,0,1044,161,7
2,2771421175,22,11,102,56,93,27,28,5,16,17,104,1,1303,123,7
3,2771420362,3,84,8,66,95,108,28,54,76,41,87,1,1453,227,7
4,2771420136,22,1,99,104,20,44,6,59,50,84,19,0,1097,121,7

In [21]:
dota_df['duration'] = dota_df['duration'].astype(int).divide(60)
dota_df.head()

,match_id,game_mode,1,2,3,4,5,6,7,8,9,10,radiant_win,duration,cluster,lobby_type
0,2771431315,1,96,3,18,48,76,95,73,110,1,30,1,19.016667,188,0
1,2771421222,3,48,28,45,37,99,62,26,69,92,88,0,17.400000,161,7
2,2771421175,22,11,102,56,93,27,28,5,16,17,104,1,21.716667,123,7
3,2771420362,3,84,8,66,95,108,28,54,76,41,87,1,24.216667,227,7
4,2771420136,22,1,99,104,20,44,6,59,50,84,19,0,18.283333,121,7

In [18]:
x_train = dota_df[['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']]
x_train.head()

    1    2    3   4    5   6   7    8   9   10
0  96    3   18  48   76  95  73  110   1   30
1  48   28   45  37   99  62  26   69  92   88
2  11  102   56  93   27  28   5   16  17  104
3  84    8   66  95  108  28  54   76  41   87
4   1   99  104  20   44   6  59   50  84   19

In [362]:
x_train_2

array(['62', '26', '69', '92', '88'],
      dtype='<U2')

In [363]:
y_train_out

array('0',
      dtype='<U1')